/* Miscellaneous
-----------------------------------------------*/

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

/* Grid container
-----------------------------------------------*/

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

$min-breakpoints: (
  "sm": "576px",
  "m": "768px",
  "lg": "992px",
  "xl": "1200px",
);

@each $name, $breakpoint in $min-breakpoints {
  @media (min-width: $breakpoint) {
    @for $i from 1 through 12 {
      .grid-#{$name}-#{$i} {
        grid-column: span $i;
      }
    }
    .grid-#{$name} {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }
}

/* Flex container
-----------------------------------------------*/
.flex {
  display: flex;
}

/* Grid and flex container properties 
-----------------------------------------------*/

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-stretch {
  justify-content: stretch;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

/* Positioning
-----------------------------------------------*/

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

/* Font-sizes
-----------------------------------------------*/

@for $i from 8 through 40 {
  f-#{$i} {
    font-size: #{$i}px;
  }
}
